.resume-container{
    background-image: url(../../images/resume.png);
    height: 760px;
    width: 98%;
}
.intro-container{
    border-radius: 10px;
}
.bio-container{
    margin-top: 50px;
    width: 250px;
    height: 476px;
}
.bio-container img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-left: 50px;
}

.resume-nav{
    margin-top: 50px;
    border-radius: 5px;
}

.resume-button{
    border-radius: 40px;
    width: 162px;
    height: 43px;
    background-color:#3bab87;
    font-weight: 600;
    color: white;
    margin-left: 42px;
    display: inline-block;
}

.bio-text{
    font-weight: 600;
    font-size: 15px;
}
@media  (max-width: 688px){
    .bio-container{
        margin-top: 50px;
        width: 250px;
        height: 486px;
    }
    .resume-button{
        width: 170px;
        height: 52px;
        background-color:#3bab87;
        font-weight: 600;
        color: white;
        margin-left: 42px;
        display: inline-block;
    }
    .resume-container{
        width: 96%;
    }
}